/.idea
/_ide_helper.php
app/storage/views
app/storage/sessions
/public/photos
/bootstrap/compiled.php
/vendor
/.tags
/.tags_sorted_by_file
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
