.header,._fixs{
	height:50px;
	width:100%;
	min-width:1024px;
	border-bottom:1px solid #022A3F;
	-webkit-transform: none;
	transform: none;
	background-size: auto;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	background-repeat: repeat;
	background-position: 0 0;
	background-image:url(../img/body.jpg);
	z-index: 300;

}
.header,._fixs{
	position:fixed;
	left: 0;
    right: 0;
    top: 0;
	margin: 0;
	
}
.main_con_hea{
  width:1000px;
  height:50px;
  margin:0px auto;
}
.logo{
	background:rgba(0,0,0,0.2);
	display:block;
	width:110px;
	height:30px;
	background-image:url(../img/dnia.png);
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	top:10px;
	border:1px solid rgba(0, 0, 0, .2);
	cursor:pointer;
	transition: all 0.4s ease-out;
	float:none;
}
.logo:hover{

	background-image:url(../img/dnia.png);
    background-color: rgba(0, 0, 0, .3);
	transition: all 0.4s ease-out;
	border:1px solid rgba(0, 0, 0, .1);
}	


.logo p{
	text-indent:-9999999px;
}
.search{
    position:relative;
    top:-22px;
    width:550px;
    float:right;
    right:320px;
    
}
.search-peple {
    height: 25px;
    width: 450px;
    font-size: 1rem;
    outline: none;
    background: #033E5C;
    color: rgba(255,255,255,.75);
    border: 0px;
    -webkit-border-radius: 5px;
    padding: 4px;
    position: relative;
}
.search_submit{
    background-image:url(../img/search-hover.png);
    background-position:center;
    background-repeat:no-repeat;
    background-color: #033E5C;
    position:relative;
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    z-index: 2;
    left: -35px;
    -webkit-border-radius: 1px 1px;
    outline:none;
    transition: all 0.2s ease-in;

}
.search_submit:hover{
    background-image:url(../img/search.png);
    background-position:center;
    background-repeat:no-repeat;
    background-color: #033E5C;
    transition: all 0.2s ease-in;

}
#rig-ico-texts{
	float:right;
	position:relative;
	left:0px;
	top:-23px;
	width:380px;
	left:550px;
}

#rig-ico-texts span{
	cursor:pointer;
}
#picprosmall{
	width:20px;
	height:20px;
	position:relative;
	top:6px;
	right:2px;
	opacity:0.8;
}
.text-top{
	color:#ccc;
	text-decoration:none;
	font-size:12px;
	font-weight: 500;
	padding:6px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	font-family: 'Lato', Arial;
	transition: all 0.4s ease-out;
}
.text-top:hover{
	background:rgba(0, 0, 0, 0.2);
	transition: all 0.4s ease-out;
	color:#ccc;
	
}
.not_nu1{
	position: relative;
  	top: -1px;
	width:auto;
	height:auto;
	background:#043853;
	color:#fff;
	font-size:11px;
	font-family: Arial;
	padding:0px 3px;
	margin: 0 1px;
	line-height: 16px;
    display: inline-block;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, .4), 0 1px rgba(0, 0, 0, .4);
}

.icos{
	margin-right:5px;
	opacity: 0.6;
	position:relative;
	top:5px;
	left:10px;
	cursor:pointer;
	transition: all 0.4s ease-out;

}
.icos:hover{
	opacity:1;
	transition: all 0.4s ease-out;
}


#_whnb12{
	width:310px;
	height:400px;
	position: absolute;
	z-index:1;
	display:none;
}
.boxnotifi{
	width:360px;
	min-height:150px;
	background:#fff;
	border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
	top: 15px;
	z-index:1;
}

._212xls{
    left: 43%;
    margin-left: -35px;
	margin-top:-8px;
    position: absolute;
	border-radius:10px 10px 0px 0px;
	display: flex;
	border-width: 0 8px 8px;
	animation: gb__a .2s;
	border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
	z-index:2;
}

#headernotifitop{
	width:100%;
	height:30px;
	border-bottom: #ddd 1px solid;
}

#headernotifitop h2{
	margin:2px 5px;
	color:#444;
	font-family: 'Lato', Arial;
	font-size:13px;
	float:left;
	position:relative;
	top:4px;
}
.boxnotificationsusers{
    font-family: 'Lato';
	width:100%;
	min-height:100px;
}
#boxsendnotifi{
    padding: 5px;
	width:97%;
	height:55px;
	border-bottom:1px solid #ccc;
}

#boxsendnotifi:hover {
    background: #F2F2F2;
}
#picnotifishow{
	width:45px;
	height:44px;
	position:relative;
	top:3px;
	left:4px;
	float:left;
	border-radius:50px;
	-webkit-border-radius:50px;
}
#namenotifishow{
	color: #141823;
	font-size:14px;
	font-family:'Lato', Arial;
	font-weight:bold;
	position:relative;
	display:block;
	width:60%;
	top:10px;
	left:10px;
	line-height:16px;
	float:left;
}
#textnotifishow{
	color: #777;
	font-size:14px;
	font-weight:400;
}
.innotifi{
	width:55px;
	height:45px;
	float:right;
	position:relative;
	top:2px;
	right:5px;
	background-color: #fff;
    border: 1px solid #dcdee3;
	padding: 2px;
	max-height: 55px;
}
#footernotifitop{
    width:100%;
	height:25px;
}

.message_shows{
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.3);
	display:none;
}

._ms99{
	position:fixed;
	top:0xp;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:400;
}

#boxmessagesshower{
	height:600px;
	width:600px;
	position:fixed;
	margin:30px 400px;
	background:#fff;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

#headermessages{
	height:30px;
	width:100%;
	border-bottom: #ddd 1px solid;
}
._inbox,._other,._newmss{
	color:#55acee;
	font-family: 'Lato', Arial;
	font-size:14px;
	padding:3px 5px;
	font-weight:600;
	transition: all 0.4s ease-out;
}
._inbox,._other{
	float:left;
	position:relative;
	left:10px;
	top:3px;
}
._inbox{
	border-right: #ddd 1px solid;
}
._newmss{
	float:right;
	position:relative;
	right:20px;
	top:3px;
	transition: all 0.4s ease-out;
}
._xclos{
	color:#777;
	font-weight:500;
	position:relative;
	top:3px;
	right:10px;
	font-size:14px;
	transition: all 0.4s ease-out;
	font-family: 'Lato', Arial;
}
._inbox:hover,._other:hover,._newmss:hover{
	color:#0F6DA2;
	transition: all 0.4s ease-out;
}
._xclos:hover{
	color:#999;
	transition: all 0.4s ease-out;
}
.boxfixedmessa{
	height:535px;
	width:100%;
	overflow-x: hidden;
	overflow: auto;
}

#main_cont_message{
	min-height:500px;
	width:100%;
	background:#fff;
}



#fottermessages{
	height:30px;
	width:100%;
	border-top: #ddd 1px solid;
	text-align:center;
}
#fottermessages a{
	color: #66757f;
	font-family: 'Lato', Arial;
	font-size:14px;
	padding:3px 5px;
	font-weight:600;
	position:relative;
	top:3px;
}









.boxfixedmessa::-webkit-scrollbar {
    width: 10px;
	height:20px;
	cursor:pointer;

}

.boxfixedmessa::-webkit-scrollbar-track {
    background:#ccc;
	border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;	
	 
}

.boxfixedmessa::-webkit-scrollbar-thumb {
	background-color:#535353;
	border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;
     
	 
}
.boxfixedmessa::-webkit-scrollbar-button:vertical {
	background:rgba(0,0,0,0);
}




.profspeed:hover,.profoff:hover,.profsee:hover{
	opacity:1;
	transition: all 0.4s ease-out;
}
.ssdnia{
	position:relative;
	top:40px;
	font-size:12px;
}
.search-peple::-webkit-input-placeholder {
    color: #8EACBB;
}
.search-peple:-moz-placeholder {
    color: #8EACBB;
}

.search-peple::-moz-placeholder {
    color: #8EACBB;
}

.search-peple:-ms-input-placeholder {
    color: #8EACBB;
}
.notification-time
{
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: #999;
}

.unread {
    background: #F1F1F1;
}
#boxsendnotifi.unread:hover {
    background: #FFF;
}