.header,._fixs{
	height:50px;
	width:100%;
	min-width:981px;
	border-bottom:1px solid #022A3F;
	-webkit-transform: none;
	background-size: auto;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	background-repeat: repeat;
	background-position: 0 0;
	background-image:url(../img/body.jpg);
	z-index: 300;

}
.header,._fixs{
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	
}
.main_con_hea{
	width:1000px;
	height:50px;
	margin:0px auto;
}
.logo{
	background:rgba(0,0,0,0.2);
	display:block;
	width:110px;
	height:30px;
	background-image:url(../img/dnia.png);
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	top:10px;
	border:1px solid rgba(0, 0, 0, .2);
	cursor:pointer;
	transition: all 0.4s ease-out;
	-webkit-border-radius: 5px;
	float:none;
}
.logo:hover{

	background-image:url(../img/dnia.png);
	background-color: rgba(0, 0, 0, .3);
	transition: all 0.4s ease-out;
	border:1px solid rgba(0, 0, 0, .1);
}	


.logo p{
	text-indent:-9999999px;
}
.search{
	position:relative;
	top:-22px;
	width:550px;
	float:right;
	right:320px;
	
}
.search-peple {
	height: 25px;
	width: 450px;
	font-size: 1rem;
	outline: none;
	background: #033E5C;
	color: rgba(255,255,255,.75);
	border: 0px;
	-webkit-border-radius: 5px;
	padding: 4px;
	position: relative;
}
.search_submit{
	background-image:url(../img/search-hover.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color: #033E5C;
	position:relative;
	text-indent: -999em;
	overflow: hidden;
	cursor: pointer;
	border: none;
	height: 30px;
	width: 30px;
	z-index: 2;
	left: -35px;
	-webkit-border-radius: 1px 1px;
	outline:none;
	transition: all 0.2s ease-in;

}
.search_submit:hover{
	background-image:url(../img/search.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color: #033E5C;
	transition: all 0.2s ease-in;

}

#rig-ico-texts{
	float:right;
	position:relative;
	left:0px;
	top:-23px;
	width:350px;
	left:550px;
}
#picprosmall{
	width:20px;
	height:20px;
	position:relative;
	top:6px;
	right:2px;
	opacity:0.8;
}
.text-top{
	color:#ccc;
	text-decoration:none;
	font-size:14px;
	padding:6px;
	font-family: 'Source Sans Pro', Arial;
	font-weight: 600;
	-webkit-border-radius: 3px;
	position:relative;
	transition: all 0.4s ease-out;
}

.text-top:hover{
	background:rgba(0, 0, 0, 0.2);
	transition: all 0.4s ease-out;
	color:#ccc;
	
}
.icos{
	margin-right:5px;
	opacity: 0.6;
	position:relative;
	top:5px;
	left:10px;
	cursor:pointer;
	transition: all 0.4s ease-out;

}
.icos:hover{
	opacity:1;
	transition: all 0.4s ease-out;
}

.search-peple::-webkit-input-placeholder {
	color: #8EA2BB;
}
.search-peple:-moz-placeholder {
	color: #8EACBB;
}

.search-peple::-moz-placeholder {
	color: #8EACBB;
}

.search-peple:-ms-input-placeholder {
	color: #8EACBB;
}
