body{
	margin:0px;
	padding:0px;
	background-color: rgba(0,0,0,0.4);
	color:#444;
	font-family: 'Lato', sans-serif;
}
.allbodyweb{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	z-index:5;
	position:inherit;
}

a{
	text-decoration:none;
}
#header{
	min-width:1024px;
	height:50px;
	background:#044C71;
	border-bottom:1px solid #022A3F;
	width:100%;
}
.logo{
	background-image:url(../img/dnia.png);
	background-repeat:no-repeat;
	background-position:center;
	display: block;
	width:110px;
	height:32px;
	-webkit-border-radius: 3px;
	background-color: #3d578e;
    background-color: rgba(0, 0, 0, .1);
	text-indent: -999999px;
	border:1px solid rgba(0, 0, 0, .1);
	margin:0px auto;
	position:relative;
	top:10px;
	left:-440px;


	
}
.logo:hover{
	background-color: #3d578e;
    background-color: rgba(0, 0, 0, .2);
}
li.img u {
left: -999999px;
position: absolute;
text-indent: -999999px;
text-decoration: underline;
}
li{
	text-decoration: underline;
	display:none;}
.lang_start{
	background-color: #3d578e;
	background-color: rgba(0, 0, 0, .3);
	height:30px;
	width:100px;
	border:none;
	outline:none;
	cursor:pointer;
	margin:30px auto;
	position:relative;
	top:-50px;
	color:#fff;
	float:right;
	left:-300px;
	-webkit-border-radius: 3px;
	border:1px solid rgba(0, 0, 0, .1);
	font-family: Arial, Helvetica, sans-serif;
	
}
.lang_start option{
	background:#044C71;
	color:#ccc;
	border:1px solid #FFF;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-border-radius: 3px;
	padding:10px 10px 12px 15px;
}
.blur img{
	min-width:100%;
	height:110%;
	position:fixed;
	top:-50px;
	left:0px;
	right:0px;
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
   opacity: 0.7;
   padding: 0;
   margin: 0;
   z-index:-2;
  
	
   
}


#maincontainer{
	border: 1px solid #ccc;
	min-height: 600px;
	border-right: 0;
    margin-left: 0;
    display: block;
    width: 1000px;
	margin: 0 auto;
    position: relative;
    zoom: 1;
	background:#FFF;
	margin-top:10px;
	border-radius:5px 0px 0px 5px;

}
#rig_log{
	float:right;
	width:250px;
	background:#333;
	height:140px;
}
.u_na_em{
	padding:10px;
	height:20px;
	width:200px;
	margin-left:10px;
	margin-top:10px;
	outline:none;
	border:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}
.pass{
	padding:10px;
	height:20px;
	width:120px;
	margin-left:10px;
	outline:none;
	border:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border-top:1px solid #ccc;
}
.signin{
	outline:none;
	border:0px;
	width:80px;
	height:41px;
	position:relative;
	left:-4px;
	top:-1px;
	background-color: #358cce;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
	transition: all 0.4s ease-out;
}
.signin:hover{
	background:#297DBD;
	transition: all 0.4s ease-out;
}
.forget{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#ccc;
	text-decoration:none;
	position:relative;
	left:10px;
	transition: all 0.4s ease-out;
}
.forget:hover{
	text-decoration:underline;
	transition: all 0.4s ease-out;
}
.rem_me{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#ccc;
	cursor:pointer;
	position:relative;
	left:10px;
}
.sp{
	color:#666;
	position:relative;
	left:10px;
}
#rig_reg{
	background:#242424;
	float:right;
	width:250px;
	height:460px;
	position:relative;
	left:0px;
	top:0px;
}
.signups{
	color:#ccc;
	border-bottom:1px solid #666;
	font-size:18px;
	line-height:22px;
	font-family: 'Lato', sans-serif;
	padding:10px;
}
.sign_box{
	padding:10px;
	height:20px;
	width:200px;
	margin-left:10px;
	outline:none;
	border:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border-bottom:1px solid #ccc;
}
.gen{
	color:#ccc;
	padding:10px;
	margin-left:10px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	position:relative;
	top:5px;
}
.births{
	color:#ccc;
	padding:11px;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	border-top:1px solid #363535;
}
.birthday{
	height:30px;
	cursor:pointer;
	border:none;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	position:relative;
	top:-10px;
	left:15px;
	outline:none;
}
select{
	color:#000;
}
.join_now{
	width:250px;
	outline:none;
	border:0px;
	background-color: #ffac33;
    background-image: linear-gradient(#ffcc4d,#ffac33);
	height:35px;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	cursor:pointer;
	border-bottom:1px solid #f1a02a;
	border-top:1px solid #f1a02a;
    color: #292f33;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	position:relative;
	top:10px;
	transition: all 0.4s ease-out;
}
.join_now:hover{
	background-image: linear-gradient(#ffac33,#ffcc4d);
	transition: all 0.4s ease-out;
}
#left_list{
	float:left;
}
.text_welcome{
	color:#444;
	padding:10px;
	font-size:32px;
	font-family: 'Lato', sans-serif;
	font-weight:700;
	line-height:25px;
	text-rendering: optimizeLegibility;
}
.title-start{
	color:#666;
	position:relative;
	left:10px;
	top:-20px;
	font-family: 'Lato', sans-serif;
}
#line{
	height:1px;
	background:#E3E5E3;
}
#openshow{
	background:#FFF;
	width:100px;
	height:400px;
	border:1px solid #ccc;
	position:absolute;
	left:10px;
}
#maincontainer_forget{
	min-height: 400px;
	border-right: 0;
    margin-left: 0;
    display: block;
    width: 900px;
	margin: 0 auto;
    position: relative;
    zoom: 1;
	background:#FFF;
	margin-top:10px;
	text-indent:inherit;
	

}
.find{
	color:#66757f;
	font-family: Arial, Helvetica, sans-serif;
	line-height:35px;
	position:relative;
	left:250px;
	top:10px;
	text-rendering: optimizelegibility;
    text-shadow: 0 0 4px #fff;
	font-weight:500;
}
#box-forget{
	background:#FFF;
	border:1px solid #ccc;
	width:500px;
	min-height:200px;
	-webkit-border-radius: 5px;
	position:relative;
	left:200px;
	top:10px;
}
.for_pass{
	padding:5px;
	width:400px;
	height:25px;
	font-family: Arial, Helvetica, sans-serif;
	color:#444;
	border:#ccc 1px solid;
	outline:none;
	-webkit-border-radius: 4px;
	position:relative;
	left:50px;
	top:20px;
}
#box-forget p{
	color:#999;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:300px;
	position:relative;
	left:150px;
	top:30px;
}
.search_ema{
	color:#fff;
    font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:300px;
	outline:none;
	border:0px;
	background:#044C71;
	position:relative;
	top:65px;
	-webkit-border-radius: 4px;
	width:80px;
	height:30px;
	cursor:pointer;
	left:-200px;
}

.search_ema:hover{
	background:#033E5C;
}

.Reset{
	color:#66757f;
	font-family: Arial, Helvetica, sans-serif;
	line-height:35px;
	position:relative;
	left:100px;
	top:10px;
	text-rendering: optimizelegibility;
    text-shadow: 0 0 4px #fff;
	font-weight:500;
}
.new_pass{
	height:25px;
	outline:none;
	border:1px solid #ccc;
	-webkit-border-radius: 4px;
	width:250px;
	margin-left:100px;
	margin-top:20px;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666;
	
}
.rest_pass{
	
	color:#fff;
    font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:300px;
	outline:none;
	border:0px;
	background:#044C71;
	position:relative;
	-webkit-border-radius: 4px;
	min-width:80px;
	height:30px;
	cursor:pointer;
	left:160px;
	top:-20px;
}

.rest_pass:hover{
	background:#033E5C;
}	

#titlewlcomeandtext{
	width:100%;
	height:400px;
}
#tab_prov_famo{
	width:700px;
	height:80px;
	float:left;
	margin:10px 10px;
}

#tabproverb{
	margin:3px 0px;
	width:100%;
	height:60px;
	position:relative;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:5px 0px;
}
.tabshowprofv{
	width:100%;
	height:100px;
	text-align:right;
	

}
.tabshowprofv img{
	width:60px;
	height:60px;
	float:left;
	border-radius:5px;
	-webkit-border-radius:5px;
	cursor:pointer;
	opacity:.8;
}
p{
	display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}
.tabshowprofv p{
	margin: 3px 0;
	display:block;
    margin-bottom: 0;
	font-size: 14px;
	text-align: right;
	font-weight: normal;
    line-height: 1.38;
    overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	direction:rtl;
	float:right;
	padding:5px 5px;
	width:600px;
}
.nameproftext{
	color:#2189BC;
	font-size:15px;
	position:relative;
	right:20px;
	cursor:pointer;
	padding:1px 4px;
}

#boxgalaprovshow{
	background:rgba(0,0,0,.4);
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:9999;
	display:none;
}
.tabgalaprov{
	width:900px;
	height:80%;
	background:#fff;
	margin:30px auto;
}
.imgleftprov{
	width:300px;
	height:auto;
	float:left:;
	position:relative;
	left:10px;
	top:10px;
}
.imgleftprov img{
	width:300px;
	height:auto;
	opacity:1;
	cursor:default;
}
.textnamprov{
	width:550px;
	height:auto;
	float:right;
	left:10px;
	top:0xp;
	position:relative;
}
.textnamprov p{
	color:#444;
	text-shadow:0 0 3px rgba(0,0,0,.3);
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:400;
	display:block;
	width:550px;
	
}
.titletopprov{
	width:100%;
	height:20px;
}
.closetag{
	background-image:url(../img/icons/stop.png);
	background-repeat:no-repeat;
	background-size:24px 24px;
	width:24px;
	height:24px;
	cursor:pointer;
	float:right;
}


blockquote.error {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background: #EC4A50;
	color: #fff;
	font-size: 18px;
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 20px;
	max-width: 100%;
	padding: 18px 20px;
}

.error p {
	margin: 6px;
	border-bottom: 2px solid #F16D6D;
}