body {
    font-family: 'Lato', Arial;
}

.main_con_prof{
    min-height: 600px;
    border-right: 0;
    margin-left: -0px;
    display: block;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
    top:50px;

}
.cover11{
    width:900px;
    background:#333;
    height:350px;
    position: relative;
    top:10px;
}
#coversus img{
    height:350px;
    width:100%;
    margin-top:-11px;

}
.ri_messs_fo232{
    width:80px;
    height:200px;
    float:right;
    position:relative;
    top:-300px;
    right:30px;
}
.bot_sasda22131{
    width:80px;
    height:30px;
    outline:none;
    background:rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.2);
    color:#fff;
    cursor:pointer;
    border-radius:30px;
    margin:3px 0px;
    transition: all 0.4s ease-out;

}
.bot_sasda22131:hover{
    background:rgba(0,0,0,0.4);
    transition: all 0.4s ease-out;
    border:1px solid rgba(0,0,0,0.4);
}
._bord12{
    position:inherit;
    z-index:80;
}
.prof-membpic{
    height: 350px;
    width: 200px;
    background-color: #fff;
    background:#000;
    position:relative;
    z-index:90;
    top:-350px;
    background: rgba(0, 0, 0, .3);
    text-align:center;

}
.profilpicusers{
    height: 160px;
    width: 160px;
     border: 4px solid #fff;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
     box-shadow: 0 1px 1px rgba(0,0,0,0.4);
     position:relative;
     border-radius:100px;
     -webkit-border-radius:100px;
     

}
.prof-membpic h1{
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
    font-size:18px;
    font-weight:600;
}
.prof-membpic h2{
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);

    font-size:15px;
    font-weight:400;
    margin:5px 0px;
    padding:2px ;
}
.prof-membpic h2 span{
    position:relative;
    left:10px;
}
.repotblock{
    position:relative;
    top:10px;
    cursor:pointer;
    opacity:0.8;
    transition: all 0.4s ease-out;
}
.repotblock:hover{
    transition: all 0.4s ease-out;
    opacity:1;
    
}
.ab_prof_mem{
    width:900px;
    height:40px;
    position:relative;
    top:-350px;
    z-index:80;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#user_lin_192{
    background-color: #fff;
    border-bottom:1px solid #DDDEDE;
    width:900px;
    height:40px;
}
#user_lin_192 a{
    color: #3b5998;
    font-size: 14px;

    font-weight: bold;
    text-decoration: none;
    padding: 11px 14px;
    position: relative;
    top: 10px;
    transition: all 0.4s ease-out;
}
#user_lin_192 a:hover{
    transition: all 0.4s ease-out;
    color:#000;
}

#lf_lin_us{
    border-right:1px solid #DDDEDE;
}
.leftabot{
    height:500px;
    width:250px;
    background:#fff;
    border:1px solid #DDDEDE;
    margin-top:-340px;
    float:left;
}
#user_hoprofily{
    min-height:500px;
    width:610px;
    float:right;
    position:relative;
    top:-370px;
    right:100px;
    margin:65px 0px;
}
#memb_sos h1{
    color: #6a7480;
    font-size: 16px;

    font-weight: 300;
    padding: 10px;
    border-bottom: 1px solid #E3E5E8;
    font-weight:500;
}

#memb_sos h2{
    font-size: 15px;
    color: #6a7480;

    font-weight: bold;
    margin-left: 10px;
    padding:10px 10px;
    border-bottom: 1px solid #E3E5E8;
}
#memb_sos span{
    font-weight: bold;

    text-shadow: none;
    font-size: 14px;
    color: #3b5998;
    margin-left: 10px;
}
.text-about {
color: #6a7480;
font-size: 16px;
font-weight: 300;
padding: 10px;
border-bottom: 1px solid #E3E5E8;
}
.about-you{
color: #4e5665;
font-size: 13px;
line-height: 18px;
overflow: hidden;
word-wrap: break-word;
unicode-bidi: embed;
width: 200px;
text-align: center;
border-bottom: 1px solid #E3E5E8;
padding:0px 10px;
}








#message-box-hide{
    width:100%;
    height:100%;
    background: rgba(44,71,98,0.95);
    position:fixed;
    left:0px;
    top:0px;
    display:none;
    transition: opacity .15s;
    padding:0;
    z-index:999;
    transition: opacity .15s;
    -webkit-transition: opacity .15s;
    -moz-transition: opacity .15s;
    overflow: auto;
    overflow-x: hidden;
}
#send-mesg-user{
    height:100%;
    background:#FFF;
    width: 500px;
    float:right;
    z-index:9999;
    overflow: auto;
    position: absolute;
    right:0px;
    -webkit-background-clip: padding-box;
    overflow: auto;
    overflow-x: hidden;
    border-left:1px solid #000;

    
}
#img-cove-msg{
    width:100%;
    height:200px;
}
#img-cove-msg img{
    width:100%;
    height:250px;
    border-bottom:1px solid #ccc;
}
#img-pro-msg{
    height:100px;
    width:100px;
    margin-left:180px;
}
#img-pro-msg img{
    height:100px;
    width:100px;
    -webkit-border-radius:50px;
    border:2px solid #fff;
    border-radius:50px;

}
.msg-send {
        vertical-align: top;
        outline:none;
        border: 0;
        -webkit-box-sizing: border-box;
        -webkit-rtl-ordering: logical;
        cursor: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-align: start;
        width:100%;
        min-height: 280px;
        border-bottom:1px solid #ccc;
        font-size:14px;
        font-style:normal;
        background:fff;
    
        color:#444;
        padding:5px;
        resize: none;
        overflow: auto;
        overflow-x: hidden;
        

}
::-webkit-resizer {
    display: none;
}
.resize-none {
    -moz-resize: none;
    -webkit-resize: none;
    resize: none;
}
.send-msg-user{
    color: #4e5665;
    font-size: 15px;

    line-height: 18px;
    border-bottom:1px solid #E3E5E8;
    border-top:1px solid #E3E5E8;
    padding:5px;
}
.username-msg{
    padding:10px;
    font-size:22px;

    color:#000;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 2px rgba(0,0,0,.6);
    position:relative;
    left:150px;
}
.send{
    outline:none;
    border:0px;

    font-size:14px;
    color:#fff;
    background: rgba(44,71,98,0.95);
    padding:5px;
    width:80px;
    cursor:pointer;
    margin-left:10px;
}
.send:hover{
    background:#3A5571;
}
.cancel{
    outline:none;
    border:0px;

    font-size:14px;
    color:#fff;
    background: #9da6af;
    padding:5px;
    width:80px;
    cursor:pointer;
    margin-right:10px;
    float:right;
}

.moresectionuser{
    width:100px;
    min-height:30px;
    box-shadow:0 0 3px rgba(0,0,0,.3);
    background:#fff;
    position:relative;
    margin:11px auto;
    display:none;
}
.blo52re_12{
    font-size:14px;

    text-shadow:0 0 3px rgba(0,0,0,.3);
    color:#069;
    font-weight:600;
    margin:0px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:4px 12px;
    cursor:pointer;
    transition: all 0.4s ease-out;
}
.blo52re_12:hover{
    transition: all 0.4s ease-out;
    background:#069;
    color:#fff;
}
.lins_xl{
    border-top:1px solid #ddd;
}
.lineperfect{
    height:0.5px;
    border:0px;
    background:#ddd;
}
.following {
    color: white;
    background: #649FC4;
}
.unfollow {
    background: #FF4747;
}
