body {
    margin: 0;
    padding: 0;
    background: #e9eaed;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
    font-family: 'Lato', Arial;
}

a {
    color: #1E7BFF;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 16px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.Viewdnia {
    width: 100%;
    height: 100%;
}

.main_con {
    min-height: 600px;
    border-right: 0;
    margin-left: 0;
    display: block;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
    top: 60px;
}

.left11 {
    height: 500px;
    width: 200px;
}

._user11 {
    float: left;
}

.cover_ho {
    width: 200px;
    height: 100px;
}

.cover_ho img {
    width: 200px;
    height: 100px;
    z-index: 300;
    position: inherit;
}

.profile_ho {
    width: 200px;
    height: 100px;
    background: #23384E;
}

.profile_ho img {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    position: relative;
    top: -40px;
    left: 10px;
    border-radius: 50px;
}

.nam_ho {
    background: #23384E;
    position: relative;
    top: -60px;
    height: 10px;
    z-index: 299;
    text-align: center;
    border-bottom: 1px solid #022A3F;
}

.nam_ho h1 {
    font-size: 15px;
    color: #ccc;
    text-shadow: #333;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
    text-align: center;
    position: relative;
    left: 40px;
    top: -36px;
}

.nam_ho a {
    color: #069;
    font-size: 12px;
    position: relative;
    left: 40px;
    top: -40px;
}

.nam_ho a:hover {
    text-decoration: underline;
}

.all_users_ho {
    min-height: 500px;
    width: 200px;
    background: #23384E;
    position: relative;
    top: -50px;
}

.all_users_ho h1 {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    padding: 5px;
    color: rgba(255,255,255,.5);
}

.all_users_ho h2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    background: #263C56;
    padding: 3px;
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid #314E6B;
}

.lin {
    border-top: 1px solid #314E6B;
}

.all_users_ho a {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    background: #263C56;
    padding: 3px;
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid #314E6B;
    display: block;
    transition: all 0.4s ease-out;
}

.all_users_ho a:hover {
    background: #2D445F;
    transition: all 0.4s ease-out;
}

.all_users_ho span {
    float: right;
    margin-right: 10PX;
    font-weight: bold;
    font-size: 14px;
    color: #4F6988;
}

.account-user {
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    border-bottom: 1px solid #314E6B;
}

.poster_memb {
    width: 530px;
    min-height: 82px;
    float: left;
    position: relative;
    left: 10px;
}

.users_adds {
    width: 530px;
    min-height: 0
    float:left;
    background: #FFF;
    border: 1px solid #DDDEDE;
}

.tab_post {
    border: 1px solid #DDDEDD;
    width: 530px;
    border-radius: 2px;
    min-height: 82px;
    background: #FFF;
    margin: 9px 0px;
    float: left;
    position: relative;
    unicode-bidi: bidi-override;
}

#abo_users_po {
    width: 100%;
    height: 40px;
}

#clicksows {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 5px;
    left: 5px;
    top: 25px;
    border-radius: 5px;
    cursor: pointer;
}

#abo_users_po {
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    left: 5px;
    top: -15px;
    font-weight: 600;
}

.data_post {
    font-size: 11px;
    position: relative;
    right: 95px;
    top: 19px;
    margin: 1px;
    color: #9197a3;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#users_shows p {
    margin: 6px 0;
    display: inline;
    margin-bottom: 0;
    font-size: 15px;
    text-align: right;
    font-weight: normal;
    line-height: 1.38;
    overflow: hidden;
    direction: ltr;
    float: right;
    color: #222;
    padding: 10px;
}

.aft_pos_user {
    max-width: 95%;
    max-height: 80%;
    padding: 10px;
}

.place_com_li {
    min-height: 50px;
    width: 100%;
}

.place_com_li button {
    outline: none;
    border: none;
    background: #FFF;
    padding: 2px 5px;
    position: relative;
    left: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lato', Arial, sans-serif;
    color: #232323;
}

.sc-bot-like img,.sc-bot-comm  img,.sc-bot-share img,.sc-bot-repo img {
    position: relative;
    right: 2px;
}


.left_abo_colishre {
    width: 250px;
    position: relative;
    float: right;
    left: 120px;
}

.left_abo_colishre span {
    color: #069;
    font-size: 12px;
    cursor: pointer;
}

.dottt {
    position: relative;
    top: -1px;
}

.place_com_li button:hover {
    opacity: 1;
}

.normal {
    font-family: Arial;
    vertical-align: top;
    outline: none;
    border: 0;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: break-word;
    text-transform: none;
    text-align: start;
    overflow: hidden;
    min-height: 30px;
    font-size: 14p
    font-weight:400;
    background: fff;
    color: #141823;
    padding: 5px;
    resize: none;
    line-height: 22px;
}

::-webkit-resizer {
    display: none;
}

.resize-none {
    -moz-resize: none;
    -webkit-resize: none;
    resize: none;
}

.links_users_homes {
    background: #FFF;
    min-height: 30px;
    width: 520px;
    border-bottom: 1px solid #DDDEDE;
    border-left: 1px solid #DDDEDE;
    border-right: 1px solid #DDDEDE;
    padding: 5px;
}

.links_users_homes a  {
    padding: 4px 8px 3px;
    font-size: 14px;
    position: relative;
    top: 3px;
}
.poster_memb a {
    color: #069;
    transition: all 0.4s ease-out;
}

a:hover {
    color: #022A3F;
    transition: all 0.4s ease-out;
}

.links_users_homes a {
    border-radius: 2px;
    margin-top: 2px;
    font-size: 15px;
    padding: 6px 12px;
    margin-left: 1px;
    position: relative;
    top: 4px;
}

.links_users_homes a:hover {
    color: #06B;
    background-color: #F9FAFF;
    transition: background-color 0.2s ease-out;
}

.share-post {
    background-color: #033E5C;
    border: 0px;
    outline: none;
    float: right;
    cursor: pointer;
    width: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    position: relative;
    left: -2px;
    top: 1px;
}

.share-post:hover {
    background-color: #054A6D;
    transition: all 0.4s ease-out;
}

.rig_lis_boo {
    width: 240px;
    min-height: 500px;
    float: right;
}

#u-like-book {
    border: 1px solid #DDDEDE;
    background: #FFF;
    height: 450px;
    width: 240px;
}

#u-like-book h1 {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    padding: 5px;
    color: #23374F;
    border-bottom: 1px solid #EAEBEC;
}

#addsponsor {
    margin: 3px 0px;
    width: 240px;
    min-height: 100px;
    background: #FFF;
    border: 1px solid #DDDEDE;
}

#addsponsor p {
    margin: 0px;
    padding: 3px;
    border-bottom: 1px solid #DDD;
    color: #9197a3;
    font-size: 16px;
}

#pageshow_footer {
    color: #9197a3;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.4s ease-out;
}

#pageshow_footer a {
    text-decoration: none;
    color: #9197a3;
    transition: all 0.4s ease-out;
}

#pageshow_footer a:hover {
    color: #000;
}

.profile_shows {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
    z-index: 500;
}

.profile_show_imagesclick {
    width: 420px;
    height: 100%;
    background: #FFF;
    border-right: 1px solid #000;
    position: fixed;
    left: 0px;
    overflow-x: hidden;
    overflow: auto;
    transition: all 0.4s ease-out;
    z-index: 502;
}

.slide_profilesue {
    width: 415px;
    min-height: 700px;
}

.coverboardshows {
    width: 100%;
    height: 250px;
    text-align: center;
}

#show_coversprofileclick {
    width: 100%;
    height: 250px;
}

#show_picsprofileclick {
    width: 80px;
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    top: -60px;
    -webkit-box-shadow: 0 1px 1px #999;
    background: rgba(0, 0, 0, .3);
    z-index: 502;
}

.users_showsprof {
    height: 93px;
    width: 100%;
    position: relative;
    top: 50px;
    text-align: center;
    z-index: 502;
}

.users_showsprof h1 {
    font-size: 18px;
    font-weight: 600;
    color: #069;
    padding: 10px;
    -webkit-text-shadow: 0 1px 1px #999;
    border-bottom: 1px solid #ddd;
    z-index: 502;
}

.tab_showsproficlick {
    width: 100%;
    height: 400px;
}

#tab_showsproflink {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
}

#tab_showsproflink a {
    border-right: 1px solid #ddd;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 6px;
    color: #069;
}

#getfullprofile {
    width: 100%;
    height: 20px;
    text-align: center;
}

#getfullprofile a {
    color: #069;
    border-top: 1px solid #ddd;
}

#tab_showsproflink a:hover {
    transition: all 0.4s ease-out;
    color: #444;
}

.hover_profile {
    width: 200px;
    height: 200px;
    background: #FFF;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 300;
    top: 60px;
    left: 10px;
    border-radius: 10px;
    display: none;
}

.small_cover {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.small_profie {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 4px solid #fff;
    position: relative;
    left: 40px;
    top: -30px;
}

.users_small {
    font-size: 16px;
    font-famil;
    font-weight: 600;
    color: #069;
    position: relative;
    top: -20px;
    text-align: center;
}

.shows_mes_hide,.shows_mes_hide2 {
    background: rgba(0,0,0,0.4);
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    color: #fff;
    position: relative;
    top: -50px;
    height: 30px;
    cursor: pointer;
    width: 80px;
    transition: all 0.4s ease-out;
}

.shows_mes_hide:hover,.shows_mes_hide2:hover {
    background: rgba(0,0,0,0.6);
    transition: all 0.4s ease-out;
}

.shows_mes_hide {
    float: left;
    margin-left: 20px;
}

.shows_mes_hide2 {
    float: right;
    margin-right: 20px;
}

#titlelicomresh {
    text-align: center;
    width: 250px;
    margin: 0px 130px;
    position: absolute;
    margin-top: -22px;
}

.profile_show_imagesclick::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

.profile_show_imagesclick::-webkit-scrollbar-track {
    background: #022A3F;
}

.profile_show_imagesclick::-webkit-scrollbar-thumb {
    background-color: #069;
    height: 20px;
}

.profile_show_imagesclick::-webkit-scrollbar-button:vertical {
    background: #044C71;
}

.error {
    border: 1px solid #FF385A;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    padding: 10px;
    text-align: center;
    background: #EC4450;
    color: white;
    margin-top: 1px;
}

.message {
    border: 1px solid #87C3FF;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    padding: 10px;
    text-align: center;
    background: #379DFF;
    color: white;
    margin-top: 1px;
}

.no-posts {
    font-size: 2.5em;
    margin-top: 80px;
    text-align: center;
    color: #333;
    font-weight: 200;
}

.profile-picture {
    border: 1px solid rgba(0,0,0,.1);
    float: left;
    width: 30px;
    height: 30px;
    margin: 8px;
}

.comment-input {
    border: none;
    outline: none;
    border: 1px solid #ccc;
    font-size: 13px;
    height: auto;
    width:89%;
    margin: 4px auto 7px;
    padding: 1px;
    resize: none;
    font-family: Arial, serif;
}

.comment-wrapper {
    background: #FAFAFF;
}

.comment {
    padding-bottom: 1px;
    margin-top: 5px;
    border-top: 1px solid #F1F1F1;
}

a.comment-name {
    padding: 0px;
    position: relative;
    top: 2px;
    margin-top: 6px;
    font-size: 13px;
}

.comment-text {
    color: #444;
    margin: 2px;
    font-size: 14px;
    padding-bottom: 6px;
    padding-left: 44px;
    padding-right: 15px;
    text-align: justify;
}

.posted-date {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    margin-left: 45px;
    margin-bottom: 5px;
}
.bar {
    position: relative;
    top: 20px;
}
.likeIcon {
    background: transparent;
    opacity: 1;
    color: #585858;
    font-size: 17px;
}

#likePost:hover{
    color: #FFB801;
}


.commentIcon {
    font-size: 17px;
    color: #585858;
}
.liked {
    color: #FFB807;
}
div.post {
    margin-left: 35px;
    margin-top: 10px;
}

#ajax-loader {
    position: relative;
    right: -60px;
    top: 8px;
}

.post-content {
    padding: 10px;
}