body {
    margin: 0;
    padding: 0;
    background: #e9eaed;
    line-height: 1.28;
    text-align: left;
    direction: ltr;
    font-family: 'Lato', Arial;
}

a {
    color: #1E7BFF;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 16px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

div {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.Viewdnia {
    width: 100%;
    height: 100%;
}
input{
	outline:none;
}
.main_con {
    min-height: 600px;
    border-right: 0;
    margin-left: 0;
    display: block;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
    top: 60px;
}

.left11 {
    height: 500px;
    width: 200px;
}

._user11 {
    float: left;
}

.cover_ho {
    width: 200px;
    height: 100px;
}

.cover_ho img {
    width: 200px;
    height: 100px;
    z-index: 300;
    position: inherit;
}

.profile_ho {
    width: 200px;
    height: 100px;
    background: #23384E;
}

.profile_ho img {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    position:absolute;
    top: 60px;
    left: 10px;
    border-radius: 5px;
}

.nam_ho {
    background: #23384E;
    position: relative;
    top: -60px;
    height: 10px;
    z-index: 299;
	border-bottom: 1px solid #314E6B;
}

.nuleftsid {
	display:block;
	width:120px;
	min-height:50px;
    font-size: 14px;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.3);
	position:absolute;
	left:90px;
	bottom:0px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}


.all_users_ho {
    min-height: 500px;
    width: 200px;
    background: #23384E;
    position: relative;
    top: -50px;
}

.all_users_ho h1 {
    font-size: 18px;
    font-weight: 300;
    position: relative;
    padding: 5px;
    color: rgba(255,255,255,.5);
}

.all_users_ho h2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    background: #263C56;
    padding: 3px;
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid #314E6B;
}

.lin {
    border-top: 1px solid #314E6B;
}

.all_users_ho a {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    background: #263C56;
    padding: 3px;
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid #314E6B;
    display: block;
    transition: all 0.4s ease-out;
}

.all_users_ho a:hover {
    background: #2D445F;
    transition: all 0.4s ease-out;
}

.all_users_ho span {
    float: right;
    margin-right: 10PX;
    font-weight: bold;
    font-size: 14px;
    color: #4F6988;
}

.account-user {
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    border-bottom: 1px solid #314E6B;
}

.poster_memb {
    width: 530px;
    min-height: 82px;
    float: left;
    position: relative;
    left: 10px;
}


.users_adds {
	width:530px;
	min-height:0px;
	float:left;
	background:#fff;
	border:1px solid #DDDEDE;
}

.tab_post {
    border: 1px solid #DDDEDD;
    width: 530px;
    border-radius: 2px;
    min-height: 82px;
    background: #FFF;
    margin: 9px 0px;
    float: left;
    position: relative;
    unicode-bidi: bidi-override;
}
.editabpo{
	width:32px;
	height:32px;
	position:absolute;
	right:0px;
	
}
.edtags{
	width:25px;
	height:25px;
	background-image:url(../img/icons/down.png);
	background-position:center;
	background-repeat:no-repeat;
	display:block;
	cursor:pointer;
	position:absolute;
	z-index:400;
}
#abo_users_po {
    width: 100%;
    height: 40px;
}

#clicksows {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 5px;
    top: 25px;
    cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

#abo_users_po {
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    left: 5px;
    top: -15px;
    font-weight: 600;
}
.dnweb{
	display:block;
	width:80%;
	position:absolute;
	left:46px;
	top:28px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
.data_post {
    font-size: 12px;
    position: relative;
    left: 0xp;
    top: 22px;
    margin: 1px;
    color: #9197a3;
	font-weight: normal;
	
}






.place_com_li {
    min-height: 50px;
    width: 100%;
}

.place_com_li button {
    outline: none;
    border: none;
    background: none;
    padding: 2px 5px;
    position: relative;
    left: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lato', Arial, sans-serif;
    color: #232323;
}

.sc-bot-like img,.sc-bot-comm  img,.sc-bot-share img,.sc-bot-repo img {
    position: relative;
    right: 2px;
}


.left_abo_colishre {
    width: 250px;
    position: relative;
    float: right;
    left: 120px;
}

.left_abo_colishre span {
    color: #069;
    font-size: 12px;
    cursor: pointer;
}

.dottt {
    position: relative;
    top: -1px;
}

.place_com_li button:hover {
    opacity: 1;
}

.normal {
	width:455px;
    font-family: Arial;
    vertical-align: top;
    outline: none;
    border: 0;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: break-word;
    text-transform: none;
    text-align: start;
    overflow: hidden;
    min-height: 70px;
    font-size: 14px;
    font-weight:400;
    background: fff;
    color: #141823;
    padding: 5px;
    resize: none;
    line-height: 22px;
}

::-webkit-resizer {
    display: none;
}

.resize-none {
    -moz-resize: none;
    -webkit-resize: none;
    resize: none;
}

.links_users_homes {
    background: #FFF;
    min-height: 30px;
    width: 520px;
    border-bottom: 1px solid #DDDEDE;
    border-left: 1px solid #DDDEDE;
    border-right: 1px solid #DDDEDE;
    padding: 5px;
}

.links_users_homes a  {
    padding: 4px 8px 3px;
    font-size: 14px;
    position: relative;
    top: 3px;
}
.poster_memb a {
    color: #444;
    transition: all 0.4s ease-out;
	font-size:14px;
	text-shadow:none;
	word-wrap: break-word;
	font-style:normal;
}

a:hover {
    color: #777;
    transition: all 0.4s ease-out;
}
.tab_selecrpost{
	float:right;
	background:#fff;
	border-left:#ddd 1px solid;
	border-bottom:1px solid #ddd;
	height:98px;
	width:12%;
}
.up52_12{
	padding:2px 0px;
	font-size:12px;
	border:1px solid #fff;
	display:block;
	width:60px;
	height:24px;
	border-radius:00px;
	text-indent:-9999px;
	background-image:url(../img/icons/compose.png);
	background-position:center;
	background-repeat:no-repeat;
	border-bottom:#ddd 1px solid;
}
._pic{
	background-image:url(../img/icons/picture.png);
}
.share-post {
	background-color: #fff;
	outline:none;
	float:right;
	cursor:pointer;
	width:60px;
    color:#333;
	text-decoration:none;
	font-size:15px;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight:500;
	position:relative;
	left:-2px;
	top:0px;
	border-bottom:1px solid #ccc;
	border:0px solid #ccc;
	background-image:url(../img/icons/post.png);
	background-position:left;
	background-repeat:no-repeat;
	text-indent:15px;
	padding:5px 8px;
}


.rig_lis_boo {
    width: 240px;
    min-height: 500px;
	position:fixed;
	right:0px;
	margin-right:220px;
	margin-top:60px;
}

#u-like-book {
    border: 1px solid #DDDEDE;
    background: #FFF;
    height: 450px;
    width: 240px;
}

#u-like-book h1 {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    padding: 5px;
    color: #23374F;
    border-bottom: 1px solid #EAEBEC;
}

#addsponsor {
    margin: 3px 0px;
    width: 240px;
    min-height: 100px;
    background: #FFF;
    border: 1px solid #DDDEDE;
}

#addsponsor p {
    margin: 0px;
    padding: 3px;
    border-bottom: 1px solid #DDD;
    color: #9197a3;
    font-size: 16px;
}

#pageshow_footer {
    color: #9197a3;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.4s ease-out;
}

#pageshow_footer a {
    text-decoration: none;
    color: #9197a3;
    transition: all 0.4s ease-out;
}

#pageshow_footer a:hover {
    color: #000;
}

.profile_shows {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0px;
    right: 0px;
    display: none;
    z-index: 500;
}

.profile_show_imagesclick {
    width: 420px;
    height: 100%;
    background: #FFF;
    border-right: 1px solid #000;
    position: fixed;
    left: 0px;
    overflow-x: hidden;
    overflow: auto;
    transition: all 0.4s ease-out;
    z-index: 502;
}

.slide_profilesue {
    width: 415px;
    min-height: 700px;
}

.coverboardshows {
    width: 100%;
    height: 250px;
    text-align: center;
}

#show_coversprofileclick {
    width: 100%;
    height: 250px;
}

#show_picsprofileclick {
    width: 80px;
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    top: -60px;
    -webkit-box-shadow: 0 1px 1px #999;
    background: rgba(0, 0, 0, .3);
    z-index: 502;
}

.users_showsprof {
    height: 93px;
    width: 100%;
    position: relative;
    top: 50px;
    text-align: center;
    z-index: 502;
}

.users_showsprof h1 {
    font-size: 18px;
    font-weight: 600;
    color: #069;
    padding: 10px;
    -webkit-text-shadow: 0 1px 1px #999;
    border-bottom: 1px solid #ddd;
    z-index: 502;
}

.tab_showsproficlick {
    width: 100%;
    height: 400px;
}

#tab_showsproflink {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
}

#tab_showsproflink a {
    border-right: 1px solid #ddd;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 6px;
    color: #069;
}

#getfullprofile {
    width: 100%;
    height: 20px;
    text-align: center;
}

#getfullprofile a {
    color: #069;
    border-top: 1px solid #ddd;
}

#tab_showsproflink a:hover {
    transition: all 0.4s ease-out;
    color: #444;
}

.hover_profile {
    width: 200px;
    height: 200px;
    background: #FFF;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 300;
    top: 60px;
    left: 10px;
    border-radius: 10px;
    display: none;
}

.small_cover {
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.small_profie {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 4px solid #fff;
    position: relative;
    left: 40px;
    top: -30px;
}

.users_small {
    font-size: 14px;
    font-famil;
    font-weight: 600;
    color: #444;
    position: relative;
    top: -20px;
}

.shows_mes_hide,.shows_mes_hide2 {
    background: rgba(0,0,0,0.4);
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    color: #fff;
    position: relative;
    top: -50px;
    height: 30px;
    cursor: pointer;
    width: 80px;
    transition: all 0.4s ease-out;
}

.shows_mes_hide:hover,.shows_mes_hide2:hover {
    background: rgba(0,0,0,0.6);
    transition: all 0.4s ease-out;
}

.shows_mes_hide {
    float: left;
    margin-left: 20px;
}

.shows_mes_hide2 {
    float: right;
    margin-right: 20px;
}

#titlelicomresh {
    text-align: center;
    width: 250px;
    margin: 0px 130px;
    position: absolute;
    margin-top: -22px;
}

.profile_show_imagesclick::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

.profile_show_imagesclick::-webkit-scrollbar-track {
    background: #022A3F;
}

.profile_show_imagesclick::-webkit-scrollbar-thumb {
    background-color: #069;
    height: 20px;
}

.profile_show_imagesclick::-webkit-scrollbar-button:vertical {
    background: #044C71;
}

.error {
    border: 1px solid #FF385A;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    padding: 10px;
    text-align: center;
    background: #EC4450;
    color: white;
    margin-top: 1px;
}

.message {
    border: 1px solid #87C3FF;
    border-radius: 2px;
    font-size: 16px;
    display: block;
    padding: 10px;
    text-align: center;
    background: #379DFF;
    color: white;
    margin-top: 1px;
}

.no-posts {
	position:relative;
	top:20px;
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    color: #888;
    font-weight: bold;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}


.fifo55{
	color: #888;
	font-size:14px;
	font-weight:bold;
	border:1px solid #ddd;
	padding:8px 8px;
	background:#f1f1f1;
	cursor:pointer;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	transition: all .4s ease-out;
}
.fifo55:hover{
	background:#fff;
	border:1px solid #ccc;
	color: #777;
	transition: all .4s ease-out;
}
.profile-picture {
    border: 1px solid rgba(0,0,0,.1);
    float: left;
    width: 32px;
    height: 32px;
    margin: 8px;
}

.comment-input {
  font-family: Arial;
    vertical-align: top;
    outline: none;
    border: 1px solid #ddd;
    cursor: auto;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: break-word;
    text-transform: none;
    text-align: start;
    overflow: hidden;
    min-height: 20px;
	width:88%;
    font-size: 13px;
    background: fff;
    color: #141823;
	line-height:10px;
    resize: none;
	position:relative;
	top:8px;
	line-height:14px;
}

.comment-wrapper {
    background: #FAFAFF;
}

.comment {
    padding-bottom: 1px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
	background:#fff;
}
.remocomn{
	position:absolute;
	right:0px;
	width:24px;
	height:24px;
}
.tabremocon{
	cursor:pointer;
	background-image:url(../img/icons/stop.png);
	background-position:center;
	background-repeat:no-repeat;
	width:24px;
	height:24px;
	display:block;
}
a.comment-name {
    padding: 0px;
    position: relative;
    top: 2px;
    margin-top: 6px;
    font-size: 14px;
	color:#044c72;
	font-weight:bold;
	font-family: 'Lato', Arial, sans-serif;

}
a.comment-name:hover{
	text-decoration:underline;
}
.comment-text {
    color: #444;
    margin: 1px;
    font-size: 14px;
    padding-bottom: 2px;
    padding-left: 44px;
    padding-right: 15px;
    text-align: justify;
	font-family: 'Lato', Arial, sans-serif;
	display:block;
}
.comtext{
	display:block;
       letter-spacing: normal;
    word-spacing: normal;
    word-wrap: break-word;
    text-transform: none;
    text-align: start;
    overflow: hidden;
}
.posted-date {
    font-weight: 500;
    font-size: 12px;
    margin-left: 45px;
    margin-bottom: 4px;
	color:#777;
	font-family: 'Lato', Arial, sans-serif;
}
.comment-insert{
	border-top:1px solid #ddd;
	min-height:60px;
	font-family: 'Lato', Arial, sans-serif;
	position:relative;
	top:5px;
}
.bar {
    position: relative;
    top: 2px;
	padding:2px 0px;
	background:#fafaff;
	border-top:1px solid #ccc;
}
.likeIcon {
    background: transparent;
    opacity: 1;
    color: #585858;
    font-size: 17px;
}

#likePost:hover{
    color: #FFB801;
}


.commentIcon {
    font-size: 17px;
    color: #585858;
}
.liked {
    color: #FFB807;
}
div.post {
    margin-left: 35px;
    margin-top: 10px;
}

#ajax-loader {
    position: relative;
    top: 1px;
	left:5px;
}

.post-content {
    padding: 12px 12px;
	width:auto;
	height:80px;
	
}
.context{
	display:block;
	width:500px;
	margin-right: -1px;
    outline: none;
    padding-left: 1px;
    word-wrap: break-word;
	color:#141823;
	font-size:16px;
}
.see-more-link {
    margin-left: 10px;
    font-size: 14px;
	width:100px;
}
a.see-more-link {
    color: #069;
    font-family: Arial;
}