body{
	margin:0px;
	padding:0px;
	background:#ddd;
	font-family: 'Source Sans Pro', Helvetica, Arial;
}
input , a{
	font-family: Arial;
	outline:none;
	text-decoration:none;
}
.header_update{
	height:50px;
	width:100%;
	min-width:1024px;
	border-bottom:1px solid #022A3F;
	-webkit-transform: none;
	transform: none;
	background-size: auto;
	-webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	background-repeat: repeat;
	background-position: 0 0;
	background-image:url(../img/body.jpg);
	z-index: 300;

}
.main_con_hea{
	width:1000px;
	height:50px;
	margin:0px auto;
}
.logo{
	background:rgba(0,0,0,0.2);
	display:block;
	width:110px;
	height:30px;
	background-image:url(../img/dnia.png);
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	top:10px;
	border:1px solid rgba(0, 0, 0, .2);
	cursor:pointer;
	transition: all 0.4s ease-out;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float:none;
}
.logo:hover{

	background-image:url(../img/dnia.png);
	background-color: rgba(0, 0, 0, .3);
	transition: all 0.4s ease-out;
	border:1px solid rgba(0, 0, 0, .1);
}	


.logo p{
	text-indent:-9999999px;
}
#rig-ico-texts{
	float:right;
	position:relative;
	top:-15px;
	width:350px;
	left:100px;
}


.text-top{
	color:#FFF;
	text-decoration:none;
	font-size:14px;
	padding:6px;
	-webkit-border-radius: 3px;
	position:relative;
	transition: all 0.4s ease-out;
}
#maincontepublic{
	width:600px;
	min-height:300px;
	background:#fff;
	border:#ccc 1px solid ;
	margin:20px auto;
	position:relative;
	right:70px;
}
.toptextone{
	width:100%;
	height:20px;
	padding:5px 0px;
	border-bottom:1px solid #ddd;
}
#sone{

	color:#fff;
	font-size:13px;
	-webkit-border-radius: 3px;
	background: #FFCC00 url(../img/icons/arrow-small-right.gif) no-repeat right center;
	padding: 1px 9px 2px 5px;
	position:relative;
	left:10px;
}
.tiitleupd{

	font-size:16px;
	color:#444;
	position:relative;
	padding:5px 1px;
	position:relative;
	left:20px;
}
.nfoone{
	
	color:#fff;
	font-size:13px;
	color:#444;
	position:relative;
	left:10px;
}
.updateinfoaftreg{
	width:400px;
	min-height:300px;
	margin:10px 20px;
}
.httext{
	
	color:#fff;
	font-size:14px;
	color:#069;
	position:relative;
	padding:25px 5px;
	font-weight:700;
}
.text_box_info{
	padding:5px 5px;
	border:1px solid rgba(0,0,0,.2);
	width:300px;
}
.ssd323{
	border:0px;
	height:3px;
	
}
.srxcs{
	border:0px;
	height:0px;
}
._140words{
	width:305px;
	height:100px;
	resize:none;
	border:1px solid rgba(0,0,0,.2);
	outline:none;
	font-size:14px;

	color:#444;
}
#tips{
	font-size:13px;
	font-weight:400;
}
.underline{
	border:0px;
	height:1px;
	background: rgba(0,0,0,.2);
}

.sa_co{
	color:#fff;
	border:#03537B 1px solid;
	background:#069;

	font-size:14px;
	cursor:pointer;
	padding:4px 8px;
	position:relative;
	left:10px;
	float:left;
}

.sa_co:hover {
	background: #294FFD;
}
.skipss{
	float:right;
	position:relative;
	right:20px;
	top:5px;

	color:#069;
	font-size:14px;
	font-weight:500;
}

.tabprofilepic ,.tabcoverpic{
	width:100%;
	height:110px;
	border-bottom:1px solid rgba(0,0,0,.2);
	padding:25px 0px;
}
.profilepicset{

	font-size:16px;
	color:#444;
	position:relative;
	padding:5px 1px;
	position:relative;
	left:20px;
	top:5px;
	margin:0px;
}
._piccov{
	top:-10px;
}
.tabcoverpic{
	border:0px;
	height:150px;
}
#bottlefbox{
	position:relative;
	left:100px;
	width:200px;
	height:120px;
	float:left;
	
}
#pictrigbox{
	position:relative;
	right:100px;
	width:200px;
	height:120px;
	float:right;
	border:1px dashed rgba(0,0,0,.2);
	top:-5px;
	
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	margin-top:40px;
	background:none;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	background:none;
}
.stotext{

	color:#069;
	font-size:15px;
	font-weight:500;
}
.tisppic{

	color:#777;
	font-size:12px;
	font-weight:400;
}
.stotext,.tisppic{
	margin-top:30px;
}
#fo404_234{
	width: 1000px;
	height: 30px;
	margin: 2px auto;
	text-align:center;
	position:relative;
	right:115px;
	top:-15px;

}
#fo404_234 hr{
	border:0px;
	background:rgba(0,0,0,0.1);
	height:1px;
}
#fo404_234 a,#fo404_234 span{
	padding:4px 2px;
	color:#444;
	font-size:12px;

	font-weight:500px;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}
#fo404_234 a:hover{
	color:#777;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

#profilePicturePreview {
	width: 150px;
	height: 150px;
}	
#pictrigbox.profilePictureBorder {
	position: relative;
	top: -35px;
	right: 35px;
	width: 150px;
	height: 150px;
}